.footer {
    width: 100vw;
    max-width: 100%;
    min-height: 150px;

    bottom: 0;
    float: bottom;
    margin-bottom: 0;
    margin-top: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: var(--primary-colour);
    box-shadow: 0 0 5px var(--shadow);
}

.footer-section {
    width: auto;
    height: auto;

    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;

    list-style: none; /* Remove default listing points */
}

.footer-section .footer-section-header {
    margin-bottom: 10px;
}

.footer-section .footer-section-header a {
    font-size: var(--font-size-normal);
    letter-spacing: 2px;
    color: var(--secondary-colour-dark);
}

.footer-section .footer-section-item a {
    font-size: var(--font-size-small);
    text-decoration: none;
    color: var(--secondary-colour);
}

.footer-section .footer-section-item {
    margin-bottom: 5px;
}
