

.bot-info {
    min-height: calc(100vh - 75px); /* Subtract navigation bar size from screen height */
    width: 100%; /* Use whole width */

    display: flex;
    flex-wrap: wrap; /* Wrap items when there isn't enough space */
    flex-direction: row; /* Put items next to each other */
    justify-content: space-around;
    align-items: center;

    background-color: var(--accent-blue); /* Background colour */
}

.bot-info .page-header-content-text {
    width: 750px;
    height: auto;

    display: flex;
    flex-direction: column; /* Put items on top of each other */
    align-items: center; /* Center horizontally */

    text-align: center; /* Center wrapped text */
}


.page-header-content-text .text {
    margin-bottom: 10px;
    color: var(--primary-colour);
}

/* Invite button */
.bot-info .page-header-content-text .invite {
    color: var(--accent-blue); /* Font colour */
    background-color: var(--primary-colour); /* Button colour */
}

/* Myra image */
.bot-info .myra-image {
    width: 400px; /* Set size of image */
    max-width: 50vw;
    height: auto; /* Keep 1:1 aspect radio */
    border-radius: 25px;

    margin: 15px 0; /* Put space to top and bottom */
}

.feature {
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
}

@media(max-width: 1125px) {
    .feature {
        flex-direction: column;
    }

    .feature img {
        order: 1;
    }
}

.feature.light {
    background-color: var(--primary-colour);
}

.feature.dark {
    background-color: var(--primary-colour-dark);
}

.feature img {
    aspect-ratio: 16/9;
    min-width: 350px;
    width: 45%;
    max-width: 750px;

    margin: 5px;
}